<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SideGesture">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LibKotlin_ViewActivity"
            android:exported="true"
            android:label="更新示例(View)"
            android:theme="@style/Theme.SideGesture.View">
        </activity>
        <activity
            android:name=".LibJava_ViewActivity"
            android:exported="true"
            android:label="更新示例(Java)"
            android:theme="@style/Theme.SideGesture.View">
        </activity>
        <activity
            android:name=".Java_ViewActivity"
            android:exported="true"
            android:label="更新示例(update-java)"
            android:theme="@style/Theme.SideGesture.View">
        </activity>
        <activity
            android:name=".Simple_ViewActivity"
            android:exported="true"
            android:label="更新示例(update-simple)"
            android:theme="@style/Theme.SideGesture.View">
        </activity>
    </application>
</manifest>
